:root{
    --main-hover-color:#3a86ff;
    --main-border-color:black
}

.add-user-page{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1548679847-1d4ff48016c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#succes-container{
    width: 18vw;
    height: 10vh;
    border: 2px solid white;
    position: relative;
    left: 38vw;
    top: 5vh;
    background-color: #12c25b;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1vw;
    color: white;
}
.add-user-container{
    border: 4px solid black;
    min-height: 80vh;
    height: auto;
    width: 50vw;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.621);
    color: white;
}
.from-container{
    display: flex;
    flex-direction: column;
}
.form-btn{
    width: 20vw;
    height: 10vh;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    margin-top: 2vh;
    font-size: 1vw;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 2vh;
}
.form-btn:hover{
    background-color: var(--main-hover-color);
    color: white;
}
.input-container{
    width: 40vw;
    min-height: 10vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}
.input-container input{
    width: 38vw;
    height: 3.5vh;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgba(128, 128, 128, 0.356);
    padding-left: 1vw;
    color: white;
}
.input-container label{
    font-size: 1.3vw;
    margin-bottom: 5px;
}