:root{
    --main-hover-color:#3a86ff;
    --main-border-color:black
}
header{
    /* border: 2px solid red; */
    width: 100%;
    height: 12vh;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.423);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: -12vh;
    font-family: 'Roboto Condensed', sans-serif;

}
.header-left-container{
    /* border: 4px solid green; */
    height: 100%;
    width: 13vw;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.header-left-container h1{
    font-size: 3vw;
    margin-left: 1vw;
}
.header-right-container{
    /* border: 4px solid blue; */
    height: 100%;
    width: 20vw;

}
.header-logo{
    width: 5vw ;
    cursor: pointer;
    margin-left: 1vw;
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 50%;
}
.navigation-menu{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    gap:2vw;
    height: 100%;
    width: 100%;
    justify-content: right;
}
.header-icon-conainer{
    height: 100%;
    width: 8vw;
    /* border: 4px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
.header-icon-conainer p{
    font-size: 1vw;
    color: black;
    margin: 0;
}
.header-icon-conainer:hover{
    background-color: rgba(0, 0, 0, 0.268);
    fill: var(--main-hover-color);
    color: var(--main-hover-color);
}
.header-icon{
    width: 3vw;
    height: 3vw;
}
.header-link{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    align-items: center;
}
.header-link:link{
    text-decoration: none;
    color: black;
    

}
.header-link:visited{
    text-decoration: none;
    color: black;
}

